NODE_ENV=development
JWT_SECRET=08506349812007
PORT=3000
FRONTEND_URL=http://localhost:5173
MONGODB_URI=mongodb://jmariny17_db_user:6HwekvvmvVSYr2cZ@ac-pqp3enl-shard-00-00.gbzqnjb.mongodb.net:27017,ac-pqp3enl-shard-00-01.gbzqnjb.mongodb.net:27017,ac-pqp3enl-shard-00-02.gbzqnjb.mongodb.net:27017/?ssl=true&replicaSet=atlas-2i9t1h-shard-0&authSource=admin&appName=Cluster0
URL_database=mongodb://jmariny17_db_user:6HwekvvmvVSYr2cZ@ac-pqp3enl-shard-00-00.gbzqnjb.mongodb.net:27017,ac-pqp3enl-shard-00-01.gbzqnjb.mongodb.net:27017,ac-pqp3enl-shard-00-02.gbzqnjb.mongodb.net:27017/?ssl=true&replicaSet=atlas-2i9t1h-shard-0&authSource=admin&appName=Cluster0